<div class="container__header">
    <div class="header__title">
        <h1>Street Search</h1>
    </div>

    <div class="header__description">
        <p>In this project developed by 
            <a href="https://www.linkedin.com/in/j%C3%BAlia-maria/"  target="_blank">Júlia Maria</a>,<br>
             the user searches the street name by zip code. <br>
             The project returns information with street name <br> 
             neighborhood city and state, respectively.
        </p>
    </div>
</div>

