.container__header{
    margin-left: 15px;
}

.header__title > h1{
    font-size: 1.7rem;
    color: #ffffff;
}

.header__description > p {
    margin-top: 10px;
    font-size: 1rem;
    color: #C2C2C2;
}

.header__title > h1,
.header__description > p {
    font-family:Arial, Helvetica, sans-serif;  
} 

.header__description > p > a {
    color:  #FF3D8B;
}
